<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Organizations', organizations_path %></li>
      <li><%= link_to 'Teams', teams_path %></li>
      <li><%= link_to 'Students', students_path %></li>
    </ul>
  </div>
</nav>