/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card {
	display: flex;
	justify-content: space-between;
	border: 2px gray solid;
	padding: 1em;
	margin-bottom: 1em;
	background: lightgray;
}

a.btn {
	color: white
}

.sign-in-container {
	padding: 1em;
	background: lightgray;
	width: 50%;
	margin-top: 2em;
}
